{% extends 'base.html' %}

{% block title %}
    Товар №{{ data.orders.id }}
{% endblock %}

{% block navigation %}
    <button class="button-style" onclick="location.href='/'" > Вернуться назад </button>
{% endblock %}


{% block content %}
{% load static %}
<div style="display: flex; height: 220px;">
    <div class="order-text server-conf">
        <div></div>
        <div>Конфигурация:</div>
        
        <div>Процессор: {{ data.orders.processor }}</div>
        <div>Герцовка: {{ data.orders.ghz }} ГГц</div>
        <div>Память: {{ data.orders.ram }} Гб</div>
        <div>Стоимость: {{ data.orders.cost }} ₽/мес.</div>
        <div>IP: {{ data.orders.ip }}</div>

        Поддерживаемые ОС: 
        <div style="margin-top: 10px;">
            
            {% if "Ubuntu" in data.orders.availableos %}
            <img src="{% static 'images/Ubuntu.png' %}" alt="Ubuntu" width="50" height="50">
            {% endif %}

            {% if "CentOS" in data.orders.availableos %}
            <img src="{% static 'images/CentOS.png' %}" alt="CentOS" width="50" height="50">
            {% endif %}

            {% if "Fedora" in data.orders.availableos %}
            <img src="{% static 'images/Fedora.png' %}" alt="CentOS" width="50" height="50">
            {% endif %}

            {% if "Windows" in data.orders.availableos %}
            <img src="{% static 'images/MS_Windows.png' %}" alt="CentOS" width="50" height="50">
            {% endif %}
            
        </div>        
    </div>
    {% if "Intel" in data.orders.processor %}   
    <div class="order-img" style="background-color: rgb(0, 113, 197); height: 210px; width: 385px;">

        <div class = "element" style="margin-left: 20px; margin-top: 20px;">    
            
            <div class = "element_4" style="background-color: rgb(0, 113, 197);"></div>
            <div class = "element_1" style="transform: rotate({{ data.rotate }}deg);">
                <div class = "element_3"></div>
            </div>
            <div class = "element_2" style="background-color: rgb(0, 113, 197);"><h2>Ghz</h2></div>
            <div style="width: 150px; margin-top: 70px; position: absolute; display: flex;">
                <div class = "range-value"><h1>0</h1></div>
                <div class = "range-value"><h1>6</h1></div>
            </div>
        </div>

        <div class = "element" style="margin-left: 20px; margin-top: 20px">
            <div class = "element_4" style="background-color: rgb(0, 113, 197);"></div>
            <div class = "element_1" style="transform: rotate({{ data.rotate_2 }}deg);">
                <div class = "element_3"></div>
            </div>
            <div class = "element_2" style="background-color: rgb(0, 113, 197);"><h2>RAM</h2></div>
            <div style="width: 150px; margin-top: 70px; position: absolute; display: flex;">
                <div class = "range-value"><h1>16</h1></div>
                <div class = "range-value"><h1>256</h1></div>
            </div>
        </div>
    </div>
    {% endif %}

    {% if "AMD" in data.orders.processor %}
    <div class="order-img" style="background-color: rgb(237, 28, 36); height: 210px; width: 385px;">
        <div class = "element" style="margin-left: 20px; margin-top: 20px; background-color: rgb(227, 105, 109)">    
            <div class = "element_4" style="background-color: rgb(237, 28, 36);"></div>
            <div class = "element_1" style="transform: rotate({{ data.rotate }}deg);">
                <div class = "element_3"></div>
            </div>
            <div class = "element_2" style="background-color: rgb(237, 28, 36);"><h2>Ghz</h2></div>
            <div style="width: 150px; margin-top: 70px; position: absolute; display: flex;">
                <div class = "range-value"><h1>0</h1></div>
                <div class = "range-value"><h1>6</h1></div>
            </div>
        </div>
        
        <div class = "element" style="margin-left: 20px; margin-top: 20px; background-color: rgb(227, 105, 109)">
            <div class = "element_4" style="background-color: rgb(237, 28, 36);"></div>
            <div class = "element_1" style="transform: rotate({{ data.rotate_2 }}deg);">
                <div class = "element_3"></div>
            </div>
            <div class = "element_2" style="background-color: rgb(237, 28, 36);"><h2>RAM</h2></div>
            <div style="width: 150px; margin-top: 70px; position: absolute; display: flex;">
                <div class = "range-value"><h1>16</h1></div>
                <div class = "range-value"><h1>256</h1></div>
            </div>
            
        </div>
    </div>
    {% endif %}
    <div class="order-text server-conf" style="margin-left: 10px;">
        Он находится в кластере с:
        {% for i in data.clusters %}
        <li>
            {{ i.ip }} - {{ i.title }}
            {% if i.title != data.orders.title %}
                <button class="button-style-cluster" onclick="location.href='{% url 'order_url' i.id %}'" >Подробнее</button>
            {% else %}
            <button class="button-style-cluster" onclick="location.href='{% url 'order_url' i.id %}'" >Вы здесь</button>
            {% endif %}
        </li>
        {% endfor %}
    </div>
</div>
{% endblock %}