{% load static %}
<div class="order-div">
    {% if "Intel" in element.processor %}   
    <div class="order-img"> <div class="fill-logo" style="background-image: url(http://127.0.0.1:9000/test/INTEL.png);"> </div> </div>
    {% endif %}
    {% if "AMD" in element.processor %}
    <div class="order-img"> <div class="fill-logo" style="background-image: url(http://127.0.0.1:9000/test/AMD.png);"> </div> </div>
    {% endif %}

    <div style="margin-left: 10px; text-align: center; font-weight: 1000;"> {{ element.title }} </div>
    
    <div class="order-text-info">
        <li>Процессор: {{ element.processor }}</li>
        <li> {{ element.ghz }} ГГц</li>
        <li> {{ element.ram }} ГБ</li>
        <li> {{ element.cost }} ₽/мес.</li>
        {% comment %} <li> {{ element.id }}</li>
        <li> {{ element.status }}</li> {% endcomment %}
    </div>
    <div style = "display: flex;">
        <button class="button-style" onclick="location.href='{% url 'order_url' element.id %}'" >Подробнее</button>
        <button class="button-style" style="background-color: red;" onclick="location.href='{% url 'delete_order' element.id %}'" >Удалить</button>
    </div>
</div>