{% extends 'base.html' %}

{% block title %}Список товаров{% endblock %}

{% block navigation %}
    {% include 'nav_panel.html' %}
{% endblock %}

{% block content %}
<div class="bg-orders">
    <div class="div-orders">
        {% for order in data.orders %}
            {% include 'order_element.html' with element=order %}
            {% empty %}
            <div class="order-div">
                Товара с таким названием не существует
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

