{% extends 'base.html' %}

{% block navigation %}
    <button class="button-style" onclick="location.href='/'" > Вернуться назад </button>
{% endblock %}

{% block title %}
    Заказ №{{ data.id }}
{% endblock %}

{% block content %}
{% load static %}
<div style="display: flex;">
    <div class="order-text server-conf">
        <div></div>
        <div>Конфигурация:</div>
        <div>Процессор: {{ data.orders.processor }}</div>
        <div>Герцовка: {{ data.orders.ghz }} ГГц</div>
        <div>Память: {{ data.orders.ram }} Гб</div>
        <div>Стоимость: {{ data.orders.cost }} ₽/мес.</div>
        Поддерживаемые ОС: 
        <div style="margin-top: 10px;">
            
            {% if "Ubuntu" in data.orders.availableos %}
            <img src="{% static 'images/Ubuntu.png' %}" alt="Ubuntu" width="50" height="50">
            {% endif %}

            {% if "CentOS" in data.orders.availableos %}
            <img src="{% static 'images/CentOS.png' %}" alt="CentOS" width="50" height="50">
            {% endif %}

            {% if "Fedora" in data.orders.availableos %}
            <img src="{% static 'images/Fedora.png' %}" alt="CentOS" width="50" height="50">
            {% endif %}

            {% if "MS Windows" in data.orders.availableos %}
            <img src="{% static 'images/MS_Windows.png' %}" alt="CentOS" width="50" height="50">
            {% endif %}
            
        </div>

        
    </div>   
    <div class="order-img" style="background-color: rgb({{ data.orders.ram }}, 0, {{ data.orders.ghz }})"></div>
</div>
{% endblock %}
